/* style global */
html, body {
	overflow: hidden;
}
/* normalize input */
input, input:hover, input:focus, input:active {
	border: none;
	outline: none;
	margin: 0px;
	padding: 0px;
	background: #2d2d2d;
	color: #cccccc;
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons-Regular.ttf);
}
body {
    font-family: ubuntu;
} 
body {
	background: #2d2d2d;
	color: #cccccc;
	-webkit-user-select: none;
	cursor: default;
}

/* classes utiles */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.clickable:hover {
	color: #66cccc;
}
.scrollable {	
	overflow: scroll;
	overflow-x: hidden;
}
.backlight {
	background-color: #393939;
}
.playing {
	background-color: #f99157;
	color: #2d2d2d;
}
.playing:hover {
	background-color: #66cccc;
	color: #2d2d2d;
}

/* explorateur de fichiers */
#file-explorer {
	position: absolute;
	width: 40%;
}
#file-bar {
}
#file-bar > div, #file-bar > input {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	line-height: 24px;
	height: 24px;
	padding-top: 1%;
	padding-bottom: 1%;
}
#file-bar > div > i {
	vertical-align: -5px;
}
#refresh-lib {
	width: 10%;
	color: #6699cc;
}
#refresh-lib:hover {
	background-color: #6699cc;
	color: #2d2d2d;
}
#nav-back {
	width: 10%;
	color: #6699cc;
}
#nav-back:hover {
	background-color: #6699cc;
	color: #2d2d2d;
}
#album-info {
	width: 80%;
}
#album-info {
	background-color: #2d2d2d;
	color: #99cc99;
}
#album-info::-webkit-input-placeholder {
	color: #99cc99;
}
#album-info:focus {
	background-color: #99cc99;
	color: #2d2d2d;
}
#clear-search {
	width: 10%;
	color: #f2777a;
}
#clear-search:hover {
	background-color: #f2777a;
	color: #2d2d2d;
}
#play-album {
	width: 10%;
	color: #f99157;
}
#play-album:hover {
	background-color: #f99157;
	color: #2d2d2d;
}
.files {
	line-height: 20px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 4%;
}
.files > i {
	vertical-align: middle;
	margin-right: 2%;
}

/* lyrics */
#lyrics {
	position: absolute;
	left: 40%;
	width: 60%;
	text-align: center;
}
#lyrics > div {
	padding-top: 2%;
	padding-bottom: 2%;
}

/* player */
#player {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 58px;
}
/* elements du player */
/* boutons */
.player-btn {
	float: left;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
}
.player-btn > i {
	vertical-align: middle;
}
/* bar de progression */
#prog-bar {
	width: 100%;
	height: 10px;
	background-color: #515151;
}
#prog-lvl {
	width: 0%;
	height: 100%;
	background-color: #6699cc;
}
/* bar de volume */
.muted {
	color: #f2777a;
}
#vol {
	float: right;
	width: 48px;
	line-height: 48px;
	text-align: center;
}
#vol-bar {
	margin-top: -96px;
	height: 96px;
	margin-left: 12px;
	width: 24px;
	background: linear-gradient(to bottom, #f99157, #99cc99);
}
#vol-lvl {
	background-color: #999999;
	height: 100%;
}

/* scrollbar style */
::-webkit-scrollbar {
	background-color: #393939;
}
::-webkit-scrollbar-thumb {
	background-color: #515151;
}
::-webkit-scrollbar-thumb:hover {
}
::-webkit-scrollbar-thumb:active {
	background-color: #999999;
} 
