<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Document</title>
		<link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body ng-app="app" ng-controller="appCtrl">

		<!-- explorateur de fichiers -->
		<div id="file-explorer">

			<div id="file-bar" ng-show="files.length > 1">

				<div id="nav-back" ng-click="navBack()" ng-show="files.length > 1">
					<!-- eject icon -->
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 17h14v2H5zm7-12L5.33 15h13.34z"/></svg>
				</div

				><div id="album-info">
					{{files[files.length - 1].name}}
				</div

				><div id="play-album" ng-click="playAlbum()" ng-show="files[files.length - 1].isAlbum">

					<!-- play icon -->
					<svg ng-show="!isPlaying && files[files.length - 1].isAlbum" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>

					<!-- pause icon -->
					<svg ng-show="isPlaying" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16h2V8H9v8zm3-14C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-4h2V8h-2v8z"/></svg>

					<!-- playlist add icon -->
					<svg ng-show="playlistMode" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z"/></svg>

				</div>
			</div>

			<div id="files" class="scrollable">

				<div
					ng-repeat="file in files[files.length - 1].subs track by $index"
					class="clickable files"
					ng-click="selectFile(file, $index)"
					ng-class="{backlight: $index % 2 === 0, playing: isOpen(file, $index)}">

					<svg ng-show="file.isDir && !file.isAlbum" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M10 5L8 3H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1h-5z"/></svg>
					<svg ng-show="file.isAlbum" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 14.5c-2.49 0-4.5-2.01-4.5-4.5S9.51 7.5 12 7.5s4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5zm0-5.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/></svg>
					{{file.name}}
				</div>

			</div>

		</div>


		<!-- playlist -->
		<div ng-show="playlistMode"id="playlist" class="scrollable">
			<div
				ng-repeat="file in playlist track by $index"
				ng-click="playItem ($index)"
				ng-class="{backlight: $index % 2 === 0, playing: isOpen ($index)}"
				class="files">
				{{file.viewName}}
			</div>
		</div>

		<div id="lyrics" class="scrollable">
			<div ng-bind-html="lyrics"></div>
		</div>


		<!-- player -->
		<div id="player">

			<div id="prog-bar" ng-click="goTo($event)">
				<div id="prog-lvl">
				</div>
			</div>

			<div
				ng-click="prev()"
				class="player-btn clickable">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 6h2v12H6zm3.5 6l8.5 6V6z"/></svg>
			</div>

			<div
				ng-click="togglePause()"
				class="player-btn clickable">
				<svg ng-show="isPlaying" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/></svg>
				<svg ng-show="!isPlaying" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8 5v14l11-7z"/></svg>
			</div>

			<div
				ng-click="next()"
				class="player-btn clickable">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/></svg>
			</div>


			<!-- gestion du volume -->
			<div id="vol" ng-mouseleave="showVol = false">
				<!-- bar de volume -->
				<div
					id="vol-bar"
					ng-mousedown="volTo($event)"
					ng-show="showVol">
					<div id="vol-lvl"></div>
				</div>
				<!-- bouton de volume -->
				<div
					id="vol-btn"
					ng-mouseover="showVol = true"
					ng-click="mute(!isMuted)"
					class="player-btn">
					<!-- not muted -->
					<svg ng-show="!isMuted" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/></svg>
					<!-- muted -->
					<svg ng-show="isMuted" class="muted" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"/></svg>
				</div>
			</div>
		</div>


	</body>

	<script src="js/init.js"></script>
	<script src="js/getLyrics.js"></script>
	<script src="../node_modules/angular/angular.js"></script>
	<script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
	<script src="js/app.js"></script>

</html>
