<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body ng-app="app" ng-controller="appCtrl">

		<!-- explorateur de fichiers -->
		<div id="file-explorer">

			<div id="file-bar">

				<div id="nav-back" ng-click="navBack()" ng-show="files.length > 1">
					<!-- eject icon -->
					<i class="material-icons">eject</i>
				</div

				><input ng-model="searchPattern" id="album-info" type="text" placeholder="{{files[files.length - 1].name}}"

				><div id="play-album" ng-click="playAlbum()" ng-show="files[files.length - 1].isAlbum">

					<!-- play icon -->
					<i ng-show="!isPlaying && files[files.length - 1].isAlbum" class="material-icons">play_circle_filled</i>

					<!-- pause icon -->
					<i ng-show="isPlaying" class="material-icons">pause_circle_filled</i>

					<!-- playlist add icon -->
					<i ng-show="playlistMode" class="material-icons">playlist</i>

				</div>
			</div>

			<div id="files" class="scrollable">

				<div
					ng-repeat="file in files[files.length - 1].subs track by $index | filter:searchPattern"
					class="clickable files"
					ng-click="selectFile(file, $index)"
					ng-class="{backlight: $index % 2 === 0, playing: isOpen(file, $index)}">

					<i ng-show="file.isDir && !file.isAlbum" class="material-icons md-18">folder</i>
					<i ng-show="file.isAlbum" class="material-icons md-18">album</i>
					{{file.name}}
				</div>

			</div>

		</div>


		<!-- playlist -->
		<div ng-show="playlistMode"id="playlist" class="scrollable">
			<div
				ng-repeat="file in playlist track by $index"
				ng-click="playItem ($index)"
				ng-class="{backlight: $index % 2 === 0, playing: isOpen ($index)}"
				class="files">
				{{file.viewName}}
			</div>
		</div>

		<div id="lyrics" class="scrollable">
			<div ng-bind-html="lyrics"></div>
		</div>


		<!-- player -->
		<div id="player">

			<div id="prog-bar" ng-click="goTo($event)">
				<div id="prog-lvl">
				</div>
			</div>

			<div
				ng-click="prev()"
				class="player-btn clickable">

				<i class="material-icons">skip_previous</i>
			</div>

			<div
				ng-click="togglePause()"
				class="player-btn clickable">
				<i ng-show="isPlaying" class="material-icons">pause</i>
				<i ng-show="!isPlaying" class="material-icons">play_arrow</i>
			</div>

			<div
				ng-click="next()"
				class="player-btn clickable">

				<i class="material-icons">skip_next</i>
			</div>


			<!-- gestion du volume -->
			<div id="vol" ng-mouseleave="showVol = false">
				<!-- bar de volume -->
				<div
					id="vol-bar"
					ng-mousedown="volTo($event)"
					ng-show="showVol">
					<div id="vol-lvl"></div>
				</div>
				<!-- bouton de volume -->
				<div
					id="vol-btn"
					ng-mouseover="showVol = true"
					ng-click="mute(!isMuted)"
					class="player-btn">
					<!-- not muted -->
					<i ng-show="!isMuted" class="material-icons">volume_up</i>
					<!-- muted -->
					<i ng-show="isMuted" class="material-icons muted">volume_off</i>
				</div>
			</div>
		</div>


	</body>

	<script src="js/init.js"></script>
	<script src="js/getLyrics.js"></script>
	<script src="../node_modules/angular/angular.js"></script>
	<script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
	<script src="js/app.js"></script>

</html>
